/* logo */
.logo{
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    height: 200px;

}
   
#logo{
position: absolute;
top: 100px;
width: 350px;
}

/* titolo */

#titolo{
    font-size: 50px;

}

#boolears {
    color:#b1e5f2;
}

h5{
 margin: 0;
padding:0;
}

.testo-lorem{
    font-size: 25px;
}

#lorem{
    background-color:#ffff00;

}