/* logo */
.logo{
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    height: 200px;

}
   
#logo{
position: absolute;
top: 100px;
width: 350px;
}

/* titolo */

#titolo{
    font-size: 50px;

}

#boolears {
    color:#b1e5f2;
}